modules = ["nodejs-20", "web", "bash", "postgresql-16"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "PopPol API"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "PopPol web"

[[workflows.workflow]]
name = "PopPol API"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "export NODE_ENV=development PORT=8080 && pnpm --filter @workspace/api-server run dev"
waitForPort = 8080

[workflows.workflow.metadata]
outputType = "console"

[[workflows.workflow]]
name = "PopPol web"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "export NODE_ENV=development PORT=26053 BASE_PATH=/ && pnpm --filter @workspace/poppol run dev"
waitForPort = 26053

[workflows.workflow.metadata]
outputType = "webview"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[nix]
channel = "stable-25_05"
